# --- Bases de Datos SQLite ---
*.db
*.sqlite
*.sqlite3
plant_monitoring.db

# Entorno virtual
venv/

# Variables de entorno
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fotos tomadas por la app
temp/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.spec